/.github export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
/.travis.yml export-ignore
**/*.js.snap export-ignore
package.json text eol=lf
package-lock.json text eol=lf
* text=auto eol=lf
*.js text eol=lf
*.sass text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.htm text eol=lf